<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmy.springboot_demo.dao.UserDao">

    <select id="queryUserAndRoleTwo" resultType="com.xmy.springboot_demo.dto.UserRoleDto">
    SELECT
	u.id,
	u.NAME,
	u.`password`,
	r.uid,
	r.rid,
	r.msg
FROM
	USER u
	LEFT JOIN user_role r ON u.id = r.uid
    </select>


</mapper>

